*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --bgColor: #202427;
  --bgBlack:#010200;
}
.App{
  background-color: var(--bgColor);
  height: 80vh;
  width: 300px;
  margin: auto;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
